<H1 mat-dialog-title>NUEVO USUARIO</H1>
<div mat-dialog-content>
  <br />

  <mat-form-field appearance="fill">
    <mat-label>NOMBRE</mat-label>
    <input type="text" matInput [(ngModel)]="Ase_Nombres" required />
   
  </mat-form-field>
  <br /> 
  <mat-form-field appearance="fill">
    <mat-label>APELLIDOS</mat-label>
    <input type="text" matInput [(ngModel)]="Ase_Apellidos" required/>    
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>CEDULA</mat-label>
    <input type="text" matInput [(ngModel)]="Ase_Cedula" required />
   
  </mat-form-field>
  <br /> 
  <mat-form-field appearance="fill">
    <mat-label>TELEFONO</mat-label>
    <input type="text" matInput [(ngModel)]="Ase_Telefono" required />
   
  </mat-form-field>
  <br /> 
  <mat-form-field appearance="fill">
    <mat-label>DIRECCION</mat-label>
    <input type="text" matInput [(ngModel)]="Ase_Direccion" required />
   
  </mat-form-field>
  <br /> 
  <mat-form-field appearance="fill">
    <mat-label>EMAIL</mat-label>
    <input type="text" matInput [(ngModel)]="Ase_Email" required />
   
    <mat-form-field appearance="fill">
      <mat-label>PASSWORD</mat-label>
      <input type="password" matInput [(ngModel)]="Ase_Clave" required />  
  </mat-form-field>
  <br /> 
  <mat-form-field appearance="fill">
    <mat-label>FECHA INICIO</mat-label>
    <input type="text" matInput [(ngModel)]="FechaInicio" required />  
  </mat-form-field>


  <br /> 
<!--   <br />
  <mat-form-field appearance="fill">
    <mat-label>Select an option</mat-label>
    <mat-select [(ngModel)]="seleccionada_tipo" >
      <mat-option>None</mat-option>      
      <mat-option  *ngFor="let Adm_Id_x of Adm_Id" [value]="Adm_Id_x.nombre">{{Adm_Id_x.est}}</mat-option>
    </mat-select>
  </mat-form-field> -->


<div mat-dialog-actions>
  <button mat-raised-button (click)="close()">CANCELAR</button>
  <button mat-raised-button COLOR="primary" (click)="addUser()">GUARDAR</button>
</div>
 