
  <div class="container-fluid">
    <!-- SLIDER O BANNER  -->
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/IMG1.svg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="assets/IMG2.svg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="assets/IMG3.svg" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <br /><br /><br /><br />

  </div>

  
<div   class="row mx-auto" style="text-align:center" >
   <div id="data"></div>

</div>


  <!-- tarjetas  -->
  <div   class="row mx-auto" style="text-align:center" >
    <div  class="col-sm-3">
      <div class="card">
        <img  src="https://olcovers2.blob.core.windows.net/coverswp/2018/05/KotlinNotesForProfessionals-OpenLibra-110x153.png"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CASA 1</h5>
          <p class="card-text">PARRAFO</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">TITULO CASA</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">TITULO CASA</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>  
  </div>


    

  





<br><br>


  <footer>
    <div class="verybottom mx-auto">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aligncenter">
              <ul class="social-network social-circle">
                <li>
                  <a
                    href="https://www.facebook.com/"
                    class="icoFacebook"
                    title="Facebook"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>

              
                <li>
                  <a
                    href="https://wa.me/573045720744"
                    class="iconwhatsapp"
                    title="whatsapp"
                    ><i class="fab fa-whatsapp"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="aligncenter">
              <!-- <h9> &copy;Copyright-Todos los derechos reservados </h9> -->
              <div class="credits">
                by
                <a href="https://wa.me/573045720744"
                  >JOHN FREDY - MIKE - LUIS 
                </a>
                <br />
                WHATSAPP:3045720744
                <br />
                <a href="https://wa.me/573045720744" style="margin-right: 40px"
                  >Contacto</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
 









  <!-- scripts de JS -->
  <script type="text/javascript" src="js/scripts.js"></script>
  <!-- BARBA.JS -->
  <!-- unpkg -->
  <script src="https://unpkg.com/@barba/core"></script>

  <!-- jsdelivr -->
  <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
  <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
  <!--GSAP -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
  <!-- AOS.JS -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <!-- SWIPER.JS -->
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
    integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
    crossorigin="anonymous"
  ></script>
